.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url("./https://traversymedia.com/downloads/cover.jpg") no-repeat center center/cover; }

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover; }

.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute; }

body {
  margin-top: 79px; }

.img-fluid {
  width: 300px;
  height: 400px;
  margin-left: 70px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px; }

.navbar {
  box-shadow: 2px 2px 2px black; }
  .navbar .nav-item {
    font-size: 1.1rem; }
  .navbar img {
    width: 40px; }
  .navbar h3 {
    color: #4a6ec9; }

.collapse .navbar-nav a.nav-link:hover {
  box-shadow: inset 0 -1px 0 0 #0a0c0c; }

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url("./https://traversymedia.com/downloads/cover.jpg") no-repeat center center/cover; }

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover; }

.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute; }

.container.top {
  z-index: 2; }

#showcase {
  position: relative;
  background: url(../img/overlay.jpg);
  min-height: 600px;
  height: 125vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px; }
  #showcase .primary-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.container.news {
  display: block; }

.newsletter {
  margin-top: 460px; }

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1); }
